body {
  padding-top: 10rem;
  background-color: #d7cec7;
  background-color: #565656;
  background-color: #dddddd;
  background-color: #648b8c;
  background-color: #888;
}

h1, h2, .about h4, ftr-copy {
  font-family: 'Montserrat', sans-serif;
}

.fade-in-block {
  opacity: 0.2;
}

.thumbnail-mid {
  margin-bottom: 1rem;
}

.about, .app-description-white {
  color: #77233b;
  line-height: 180%;
  font-size: 16pt;
  font-family: 'Merriweather', serif;
  font-family: 'Inconsolata', monospace;
}

.about h2 {
  color: #e8aecd;
  color: #888;
  color: #c4364e;
  color: #db435d;
}

.about h3 {
  font-size: 24pt;
}

.row-about {
  font-size: 15pt;
}

/*
.row-form {
  margin: 0;
}

.row-contrib h3 {
  color: #b51e62;
}

.row-contrib h1 {
  color: white;
}
*/
.banner {
  background-color: black;
}

.container {
  padding: 2rem;
}

h1, h2 {
  margin-top: 2.25rem;
  margin-bottom: 2rem;
}
/*
.hangingindent {
  padding-left: 44px;
  text-indent: -22px;
}
*/
.row {
  margin-top: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #e8aecd;
  color: #888;
  color: #c4364e;
  color: #ce6386;
}

h1, h2, h4 {
  color: white;
}

.row-contrib {
  color: black !important;
  background-color: #e8aecd;
}

.contrib {
  background-color: #e8aecd;
}

.col-md-4, .col-md-3 {
  float: left !important;
}

a {
  font-size: 100%;
  color: white;
}

.app-description {
  font-size: 100%;
  color: black;
}

.app-description-white {
  font-family: 'Merriweather', serif;
  font-family: 'Inconsolata', monospace;
  font-size: 14pt;
}

.app-description-dark a:link, .app-description-dark a:visited, .app-description-dark a:active {
  color: #b51e62;
}

.app-description-dark a:hover {
  color: white;
}

.app-description-white a:link, .app-description-white a:visited, .app-description-white a:active {
  color: #e8aecd;
}

.app-description-white a:hover {
  color: #b51e62;
}

a:hover {
  text-decoration: none;
  color: #FB7BA2;
}

.btn-group-justified {
  display: flex;
  width: 100%;
}

.btn {
  line-height: 2;
  font-size: 1.25rem;
}

.btn, .btn-group {
  flex: 0;
}

.btn-group {
  background-color: black;
}

.btn {
  float: right;
}

.btn-primary {
  color: #fff;
  border-color: black !important;
  background-color: black !important;
  font-family: 'Montserrat', sans-serif;
  margin-right: 16px;
}

.btn-primary:visited, .btn-primary:hover, .btn-primary:active {
  color: #fff;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #444 !important;
  border-color: #444 !important;
}

.btn-default {
  background-color: #fff;
}

.btn-default:hover {
  background-color: #ddd !important;
  border-color: #ddd !important;
}

.modal-strong {
  background-color: #b51e62 !important;
  color: white;
}

.modal-light {
  background-color: #e8aecd;
  color: white;
  margin-left: 2rem;
}

.btn-sm {
  margin-top: 0rem;
  margin-left: 0.5rem;
  line-height: 1.5;
  font-size: 1rem;
}

.modal-footer {
  clear: both;
}

.ftr-copy {
  color: white;
  bottom: 0rem;
  margin-top: 5rem;
}

.ftr-icons {
  color: #e8aecd;
  height: 6rem;
  left, right: 0rem;
}

/*
.ftr-img {
  margin: auto;
  display: block;
  width: 7rem;
}
*/

.icon-holder {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 2.5rem;
}

.icon-holder a {
  color: #555;
}

.icon-holder a:hover {
  color: white;
}

.icon-holder-top {
  margin-bottom: 5rem;
}

.icon-holder-heading {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 130%;
  color: #e8aecd;
}

.btn-code {
  color: black;
  background-color: white;
}

.fa-android {
  color: #49d824;
}

.fa-android:hover {
  color: #2ba50b;
}

.fa-github {
  color: black;
}

.fa-github:hover {
  color: #777;
}

.fa-cogs {
  color: #f78;
}

.fa-cogs:hover {
  color: #c14b5a;
}

.fa-desktop {
  color: white;
}

.fa-desktop:hover {
  color: #aaa;
}

.fa-mobile {
  color: #b95454;
}

.fa-mobile:hover {
  color: #7f3232;
}

.fa {
  margin-left: 1rem;
}

.status{
  color: red;
  text-align: center;
  font-size: 12pt;
}

.intro-img {
  top: -3.25rem;
  position: relative;
}

.first {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.mandala-img {
  margin-left: -1rem;
}

.floor {
  bottom: -5rem;
}

.inner-div {
  color: black;
  background-color: #bbbbbb;
  padding: 1rem;
  display:none;
}

.inner-android a:link, .inner-div a:visited, .inner-div a:active {
  color: #2ba50b !important;
}

.inner-android a:hover {
  color: black !important;
}

.settings-path {
  color: #2ba50b;
}
/*
.android-text a:link {
  color: lime;
}
*/

#slide-mandala a {
  color: pink !important;
}

#slide-mandala a:hover {
  color: black !important;
}

#text-animation{
  color: lime;
  font-family: "Courier";
  font-size: 1.25rem;
  margin: 0 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 35em;
  animation: type 4s steps(60, end);
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

/* So ugly */
iframe {
  margin-top: -65%;
  margin-left: -55%;
  margin-bottom: -45%;
  width: 200%;
  border-radius: 25px;
}

.iframe-container {
  padding-top: 2.25rem;
  padding-bottom: 2rem;
}

.modal-content {
  background-color: #e8aecd !important;
  color: black;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: -2rem;
  background-color: #111;
}

.modal-content-inner {
  padding: 2rem;
  margin-left: -3rem;
  margin-top: -1.75rem;
  border-radius: 15px;
}

.modal-header, .modal-footer {
  border-bottom: 1px solid #ccc !important;
  border-top: 1px solid #ccc !important;
}

.modal-header-inner {
  margin-top: 1rem;
  padding-left: -2rem;
}

.about-container, .projects {
  padding: 4rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

.about-container, .projects, .modal-content {
  border-radius: 10px;
}

.projects, .about-container {
  background-color: #cccccc;
  margin-bottom: 4rem;
}

@media(max-width:700px) {
  body {
    margin-top: 2rem;
    background-color: #cccccc;
  }
  .wrapper {
    overflow-x: hidden;
  }
  .container {
    padding: 1.5rem;

  }
  .about-container, .projects {
    padding: 1rem;
    margin-left: 0;
    margin-right: 0;
  }
  iframe {
    margin-top: -30%;
    margin-left: -50%;
    margin-bottom: -30%;
    width: 200%;
    border-radius: 25px;
  }
  .iframe-container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .modal-header-inner {
    margin-left: 1rem;
  }
  .display-4{
    margin-top: -1rem;
  }
  h2 {
    margin-top: 3rem;
  }
  h3 {
    margin-top: 2rem;
  }
  .first {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

}
