body {
  padding-top: 5rem;
  background-image: linear-gradient(steelblue, black, steelblue, white, steelblue);
  background-color: lightcoral;
}

h1, h2, .about h4, ftr-copy {
  font-family: 'Montserrat', sans-serif;
}

.thumbnail-mid {
  margin-bottom: 1rem;
}

.about, .app-description-white {
  color: gray;
  line-height: 180%;
  font-size: 16pt;
  font-family: 'Inconsolata', monospace;
}

h1, h2 {
  margin-top: 2.25rem;
  margin-bottom: 2rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #ce6386;
}

h1, h2, h4 {
  color: deepskyblue;
}

.about h2 {
  color: #db435d;
}

.about h3 {
  font-size: 24pt;
}

a {
  font-size: 100%;
  color: white;
}

.row-about {
  font-size: 15pt;
}

.banner {
  background-color: black;
}

.container {
  padding: 2rem;
}

/*
.hangingindent {
  padding-left: 44px;
  text-indent: -22px;
}
*/
.row {
  margin-top: 0;
}

.col-md-4, .col-md-3 {
  float: left !important;
}

.app-description {
  font-size: 100%;
  color: black;
}

.app-description-white {
  font-family: 'Merriweather', serif;
  font-family: 'Inconsolata', monospace;
  font-size: 14pt;
}

.app-description-dark a:link, .app-description-dark a:visited, .app-description-dark a:active {
  color: #b51e62;
}

.app-description-dark a:hover {
  color: white;
}

.app-description-white a:link, .app-description-white a:visited, .app-description-white a:active {
  color: #e8aecd;
}

.app-description-white a:hover {
  color: #b51e62;
}

a:hover {
  text-decoration: none;
  color: #FB7BA2;
}

.btn-group-justified {
  display: flex;
  width: 100%;
}

.btn {
  line-height: 2;
  font-size: 1.25rem;
}

.btn, .btn-group {
  flex: 0;
}

.btn-group {
  background-color: black;
}

.btn {
  float: right;
}

.btn-primary {
  color: #fff;
  border-color: black !important;
  background-color: black !important;
  font-family: 'Montserrat', sans-serif;
  margin-right: 16px;
}

.btn-primary:visited, .btn-primary:hover, .btn-primary:active {
  color: #fff;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #444 !important;
  border-color: #444 !important;
}

.btn-default {
  background-color: #fff;
}

.btn-default:hover {
  background-color: #ddd !important;
  border-color: #ddd !important;
}

/*
.modal-strong {
  background-color: #b51e62 !important;
  color: white;
}
*/
.modal-light {
  /* background-color: #e8aecd; */
  background-color: #f5f5f5;
  color: white;
  margin-left: 2rem;
}

.btn-sm {
  margin-top: 0rem;
  margin-left: 0.5rem;
  line-height: 1.5;
  font-size: 1rem;
}

.modal-footer {
  clear: both;
}

.ftr-copy {
  color: white;
  bottom: 0rem;
  margin-top: 5rem;
}
/*
.ftr-icons {
  color: #e8aecd;
  height: 6rem;
  left, right: 0rem;
}
*/
.icon-holder {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 2.5rem;
}

.icon-holder a {
  color: black;
}

.icon-holder a:hover {
  color: white;
}

.icon-holder-top {
  margin-bottom: 5rem;
}

.icon-holder-heading {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 130%;
  color: #e8aecd;
}

.btn-code {
  color: black;
  background-color: white;
}

.fa-android {
  color: #49d824;
}

.fa-android:hover {
  color: #2ba50b;
}

.fa-github {
  color: black;
}

.fa-github:hover {
  color: #777;
}

.fa-cogs {
  color: #f78;
}

.fa-cogs:hover {
  color: #c14b5a;
}

.fa-desktop {
  color: white;
}

.fa-desktop:hover {
  color: #aaa;
}

.fa-mobile {
  color: #b95454;
}

.fa-mobile:hover {
  color: #7f3232;
}

.fa {
  margin-left: 1rem;
}

.status{
  color: red;
  text-align: center;
  font-size: 12pt;
}

.intro-img {
  top: -3.25rem;
  position: relative;
}

.first {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.img-thumb {
  width: 98%;
  border-radius: 15px;
}

.floor {
  bottom: -5rem;
}

.inner-div {
  color: black;
  background-color: #bbbbbb;
  padding: 1rem;
  display:none;
}

.inner-android a:link, .inner-div a:visited, .inner-div a:active {
  color: #2ba50b !important;
}

.inner-android a:hover {
  color: black !important;
}

.settings-path {
  color: #2ba50b;
}

#text-animation{
  color: lime;
  font-family: "Courier";
  font-size: 1.25rem;
  margin: 0 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 35em;
  animation: type 4s steps(60, end);
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}

::selection{
  background: black;
}

.modal-content {
  background-color: #e8aecd !important;
  color: black;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: -2rem;
  background-color: #111;
}

.modal-content-inner {
  padding: 2rem;
  margin-left: -3rem;
  margin-top: -1.75rem;
  border-radius: 15px;
}

.modal-header, .modal-footer {
  /* The color matches the container's color
      rendering the borders invisible */
  border-bottom: 1px solid #f5f5f5 !important;
  border-top: 1px solid #f5f5f5 !important;
}

.modal-header-inner {
  margin-top: 1rem;
  padding-left: -2rem;
}

.about-container, .projects {
  padding-left: 4rem;
  padding-right: 3rem;
  margin: 5rem auto;
}

.about-container, .projects, .modal-content, .img-me {
  border-radius: 10px;
}

.projects, .about-container {
  background-color: #f5f5f5;
  margin-bottom: 4rem;
}

#mandala-iframe, #popup-mandala {
  display: none;
}

.mandala-iframe {
  display: block;
}

.img-me {
  width: 100%;
}

.aboutme-text {
  font-size: 105%;
  line-height: 190%;
}

@media(max-width:678px) {
  body {
    margin-top: 2rem;
    background-color: lightcoral; /*why?*/
  }
  .wrapper {
    overflow-x: hidden;
  }
  .container {
    padding: 1.5rem;
  }
  .about-container, .projects {
    padding: 1rem;
    margin-left: 0;
    margin-right: 0;
    align-items: center;
  }
  .modal-header-inner {
    margin-left: 1rem;
  }
/*
  .display-4{
    margin-top: -1rem;
  }
*/
  h2 {
    margin-top: 3rem;
  }
  h3 {
    margin-top: 2rem;
  }
  .first {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .img-me {
    width: 70%;
  }
}
