* {
  direction: ltr;
}

body {
  background-color: #720123;
}

.row-contrib h3 {
  color: #720123;
}

.banner {
  background-color: black;
  color: white;
}

.container {
  padding: 2rem;
}

h1, h2 {
  margin-bottom: 2.5rem;
  margin-top: 3.5rem;
}

h1, h2, h4 {
  color: white;
}

h3 {
  color: yellowgreen;
  font-family: 'Varela Round', sans-serif;
}

.row-contrib {
  background-color: #f990b0;
  margin: -3rem;
  padding-left: 2rem;
  padding-right: 2rem
  padding-top: 0;
}

.col-md-4, .col-md-3 {
  float: left !important;
}

a {
  font-size: 100%;
  color: white;
}

.app-description {
  font-size: 100%;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #FB7BA2;
}

.btn-group-justified {
  display: flex;
  width: 100%;
}

.btn {
  line-height: 2;
  font-size: 1.25rem;
}

.btn, .btn-group {
  flex: 0;
}

.btn-group {
  background-color: black;
}

.modal .btn {
  float: right;
}

.dropdown-menu {
  left: auto;
}

.btn-primary {
  color: #fff;
  border-color: black !important;
  background-color: black !important;
  font-family: 'Montserrat', sans-serif;
}

.btn-primary:visited, .btn-primary:hover, .btn-primary:active {
  color: #fff;
}

.btn-primary:hover, .btn-primary:active {
  background-color: #444 !important;
  border-color: #444 !important;
}


.btn-default {
  background-color: #fff;
}

.btn-default:hover {
  background-color: #ddd !important;
  border-color: #ddd !important;
}

.modal-content {
  background-color: yellowgreen !important;
}

.btn-sm {
  margin-top: 2rem;
  margin-left: 0.5rem;
  line-height: 1.5;
  font-size: 1rem;
}

.modal-footer {
  clear: both;
}

.modal-header {
  color: #EA0047;
}

.ftr-copy {
  color: white;
  bottom: 0rem;
  font-family: 'Montserrat', sans-serif;
}

.ftr-icons {
/*  color: #F3ABC1;*/
  height: 8rem;
  left, right: 0rem;
}

.ftr-img {
  margin: auto;
  display: block;
  width: 7rem;
}

.icon-holder {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 2.5rem;
}

.icon-holder a {
  color: #f990b0;
}

.icon-holder a:hover {
  color: white;
}

.icon-holder-heading {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 130%
}

.btn-code {
  color: black;
  background-color: white;
}
/*
.btn-code:hover {
  color: #444;
  background-color: #ccc;
}
*/
.fa-android {
  color: yellowgreen;
}

.fa-android:hover {
  color: #77a320;
}

.fa-github {
  color: black;
}

.fa-github:hover {
  color: #333;
}

.fa {
  margin-left: 1.25rem;
}

.fa-3x {
  display:inline-block;
  text-align: center;
  vertical-align: bottom;
  bottom: 0rem;
}

.top-buffer {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
